.card {
  border: 1px solid #e4e9f2;
  padding: 0.5rem;
  position: relative;
}

.header {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.body {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
