.button {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1rem;
  border-radius: 0.17rem;
  border-style: solid;
  border-width: 0.0625rem;
  text-transform: uppercase;
  padding: 0.6875rem 1.125rem;

  &:hover {
    cursor: pointer;
  }
}

.primary {
  background-color: #edf1f7;

  &:hover {
    background-color: #f7f9fc;
  }

  &:active {
    background-color: #e4e9f2;
  }
}

.green {
  border: 2px solid transparent;
  background-color: #00d68f;
  color: #ffffff;

  &:hover {
    background-color: #2ce69c;
  }

  &:active {
    background-color: #00b887;
  }
}

.red {
  border: 2px solid transparent;
  background-color: #ff3d71;
  color: #ffffff;

  &:hover {
    background-color: #ff4d71;
  }

  &:active {
    background-color: #db2c66;
  }
}

.gray {
  border: 2px solid transparent;
  background-color: #edf1f7;

  &:hover {
    background-color: #f7f9fc;
  }

  &:active {
    background-color: #e4e9f2;
  }
}
